<div
  class="w-full mx-auto max-w-xxl dark:bg-night-800 dark:border-night-700"
>
<div class="text-xl flex  justify-between font-medium text-gray-900 dark:text-night-200">
  <a class="rounded bg-primary-500 p-2 " routerLink="/dashboard/posts">
    <svg-icon src="assets/icons/outline/arrow-left-solid.svg" [svgClass]="'h-5 w-5 fill-white'"> </svg-icon>
  </a>
  <h5 class="mt-2">Add Post To Our Platform</h5>
  <div></div>
</div>
<div class="px-20 py-5">
  <form class="space-y-6" [formGroup]="addPostForm">
    <div>
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-night-200"
        >Title</label
      >
      <input
        type="text"
        formControlName="title"
        name="title"
        id="title"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-night-600 dark:border-night-500 dark:placeholder-night-400 dark:text-night-200"
      />
      <div
        *ngIf="
          form.title.invalid &&
          (form.title.dirty || form.title.touched)
        "
      >
        <p
          class="ml-1 text-sm text-red-500"
          *ngIf="form.title.errors.required"
        >
          Required fields*
        </p>
       
      </div>
    </div>
    <div class="mb-6">
      <label
        for="author"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-night-200"
        >Author</label
      >
      <input
        type="text"
        id="author"
        formControlName="author"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-night-200 dark:focus:ring-primary-500 dark:focus:border-primary-500"
      />
      <div
        *ngIf="
          form.author.invalid &&
          (form.author.dirty || form.author.touched)
        "
      >
        <p
          class="ml-1 text-sm text-red-500"
          *ngIf="form.author.errors.required"
        >
          Required fields*
        </p>
       
      </div>
    </div>
    <div>
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-night-200"
        >Technology</label
      >
      <select
        id="Technology"
        formControlName="techType"
        name="technology" 
        class="bg-white mb-6 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-night-200 dark:focus:ring-primary-500 dark:focus:border-primary-500"
      >
        <option *ngFor="let tech of technologies" [ngValue]="tech">
            {{tech}}
        </option>
      </select>
      <div
        *ngIf="
          form.techType.invalid &&
          (form.techType.dirty || form.techType.touched)
        "
      >
        <p
          class="ml-1 text-sm text-red-500"
          *ngIf="form.techType.errors.required"
        >
          Required fields*
        </p>
       
      </div>
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-night-200"
        >Description</label
      >
      <textarea
        id="message"
        rows="5"
        class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-night-700 dark:border-night-600 dark:placeholder-night-400 dark:text-night-200 dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <div
      *ngIf="
        form.description.invalid &&
        (form.description.dirty || form.description.touched)
      "
    >
      <p
        class="ml-1 text-sm text-red-500"
        *ngIf="form.description.errors.required"
      >
        Required fields*
      </p>
     
    </div>
    </div>

    <button (click)="addPost()" type="submit" class="w-full font-semibold text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Add Post</button>
      
  </form>
</div>
</div>